* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Helvetica, sans-serif ;
}

/* header */
.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #fff;

    width: 100%;
    height: 60px;
    padding-block: 2.4rem;

    z-index: 99;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
}

.header-title {
    font-family: monospace;
    font-size: 2.2rem;
    color: #00b289;
    letter-spacing: 3px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.list-icon {
    margin-top: 2px;
    font-size: 10px;
}

.header-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    font-size: 1rem;
    color: #616060;

    cursor: pointer;
}

.header-list li:hover {
    color: #303030;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-button {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;

    padding-inline: 1.2rem;
    padding-block: 0.7rem;

    border-radius: 4px;
    border: solid 1px #00b289;

    color: #00b289;
    background-color: transparent;
    cursor: pointer;
    
    transition: all 0.4s;
}

.login-button:hover {
    color: #fff;
    background-color:#00b289 ;
}

.button {
    font-size: 0.8rem;
    font-weight: bolder;
    text-transform: uppercase;

    padding-inline: 1.2rem;
    padding-block: 0.7rem;

    border-radius: 4px;
    border: solid 1px #00b289;

    color: #fff;
    background-color: #00b289;
    cursor: pointer;

    transition: all .4s;
}

.button:hover {
    background-color: #00b288ba;
}

#header-icon {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.Product-el, .Templates-el {
    position: relative;
}

.header-modal-Product {
    position: absolute;
    opacity: 0;
    visibility: hidden; /* deixa o elemento invisivel*/

    width: 300px;
    height: 450px;
    padding: 1.6rem;

    background: #fff;
    top: 150%;
    left: -100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;

}

.header-modal-Templates {
    position: absolute;
    opacity: 0;
    visibility: hidden; /* deixa o elemento invisivel*/

    width: 300px;
    height: 450px;

    background: #fff;
    top: 150%;
    left: -100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

.modal-Templates {
    padding: 1rem;
    border-bottom: solid 1px #ddd;
}

.modal-Templates:hover {
    background: #dcdbdb;
}

.Templates-el:hover .header-modal-Templates {
    opacity: 1;
    visibility: visible;
}

.header-modal-Templates  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-Templates > a {
    width: 100%;
    text-decoration: none;
    color: #616060;
    padding-block: 1rem;
}


.line {
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;

}

.product-item {
    padding-block: 1rem;
}

.product-modal-title {
    font-size: 1.4rem;
    color: #616060;
    padding-block: 1rem;
}

.product-item > p {
    color: #505050c6;
}

.Product-el:hover .header-modal-Product {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 800px) {
    .header-list {
        display: none;
    }

    .header-buttons {
        display: none;
    }

    #header-icon {
        display: block;
    }
  }

  @media (max-width: 1200px) {
   
    .header-buttons {
        display: none;
    }

    #header-icon {
        display: block;
    }
  }

  /* presentation section */

  .presentation {
    display: flex;
    width: 80%;
    margin: 7rem auto;
  }

  .presentation-section {
    flex: 1;
  }

  .presentation-section-img {
    flex: 1;
  }

  .presentation-section-img img {
    width: 100%;
    min-width: 300px; 
  }

.presentation-title {
    font-size: 3rem;
    padding-top: 2.6rem;
    margin-bottom: 2rem;

    color: #616060;
}

.presentation-description {
    font-size: 1.3rem;
    color: #616060da;
    font-weight: bold;

    width: 80%;
    max-width: 540px;
    margin-bottom: 3rem
}

.presentation-input {
    position: relative;
    height: 70px;
    width: 60%;
    padding: 20px;

    /* border-top-left-radius: 19px; */

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: solid 2px #00b289;

    outline: none;
}

.presentation-input::placeholder {
    color: #61606085;
    font-weight: bolder;
}

.presentation-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    position: absolute;
    height: 70px;
    padding-inline: 2rem;
    max-width: 150px;;
}

@media(max-width:1200px) {
    .presentation {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
    .presentation-section {
        align-items: center;
    }
}

@media(max-width:800px) {
    .presentation {
        align-items: center;
        width: 90%;
        /* background: #000; */
    } 

    .presentation-section {
        align-items: center;
        justify-content: center;
    }

    .presentation-description {
        margin-top: 2rem;
        width: 600px;
        
    }

    .presentation-input {
        margin-left: 2rem;
    }
}

@media(max-width:600px) {
    .presentation-title {
        width: 90%;
        font-size: 2rem;
    }

    .presentation-description {
        font-size: 1.5rem;
        width: 90%;
    }
}


/* Benefit section */

.header-benfits {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.benefits-title {
    font-size: 2rem;
    color: #616060;
}

.benefits-description {
    font-size: 1.5rem;
    max-width: 50ch;
    color: #616060e3;
    line-height: 2rem;
    padding-block: 2rem;
}

.benefits-container {
    width: 80%;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 2rem auto;
    gap: 3rem;
}

.no-benefits {
    flex: 1;
}

.with-benefits {
    flex: 1;
}

.no-benefits, .with-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-benefits img, .with-benefits img {
    width: 100%;
    max-width: 450px;
}

.no-benefits h3, .with-benefits h3 {
    font-size: 1.2rem;
    color: #616060;
    margin-bottom: 2rem;
}

.no-benefits h3 {
    padding-top: 3.4rem;
}


@media(max-width: 1200px){
    .benefits-container {
        width: 90%;
        flex-direction: column;
    }

    .benefits-description {
        font-size: 1.2rem;
    }
}

@media(max-width: 800px){
    .header-benfits {
        margin: 0 auto;
    }

}

/* services */

.services {
    width: 80%;
    display: flex;
    margin: 10rem auto;

    z-index: 2;
}

.services-list {
    flex: 1;
}

.services-container {
    flex: 1;
}

.services-list li{
    display: flex;
    align-items: center;
    gap: 16px;

    color: #616060;
    border-bottom: solid 1px #ddd;

    width: 80%;

    font-size: 1.4rem;
    padding-block: 1.6rem;
    padding-inline: 10px;
    cursor: pointer;
}

#icon-active {
    color: #00b289;
}

#hide {
    color: #00b289;
    align-self: center;
    margin-left: auto;
}

.services-container {
    position: relative;
    /* overflow: hidden; */
}

.img-comntainer-services {
    flex: 1;
}

.img-comntainer-services img {
    width: 100%;
}

main {
    overflow: hidden
}

.shape {
    position: absolute;
    left: 100px;
    top:0px;
    right: 100px;
    z-index: -1;

    width: 700px;
    height: 800px;
    transform: rotate(30deg);

    background-color: #fff5e8;
    border-radius: 100px;
}

.services-title {
    font-size: 2rem;
    color: #616060;
}

.services-description {
    font-size: 1.5rem;
    color: #505050c6;
    padding-block: 1rem;
}

.services-container a {
    align-self: center;
    text-decoration: none;
    color: #00b289;
    text-transform: uppercase;
}

.services-container a > i {
    font-size: 1.1rem;
    align-self: center;
}

.services-container a:hover i {
    animation: move-side 0.5s ease-in forwards;
}

@keyframes move-side {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}

@media (max-width:1000px) {
    .services {
        flex-direction: column;
        /* background: #000; */
    }

    .services-title {
        padding-top: 2rem ;
    }
}


body {
    margin-bottom: 10rem;
}